<!DOCTYPE html>
<html>
<head>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<!-- <style>
#teachlink {
	visibility: hidden;
}
</style>
 -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

</head>
<body>
<!--  navbar start -->
   <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Welcome To Teacher Page </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
     </ul>
    <input type="button" value="Go back!" onclick="history.back()">
  </div>
</nav>
   <!-- navbar end -->

	
	<table class="table">
		<thead>
			<tr>
				<br></br>
                   <th scope="col"><a  href="/studentRegistration"><p style="text-align:center">STUDENT REGISTRATION </a></th>
			        <th scope="col"><a  href="/teacherdetails"><p style="text-align:center">Teacher Details </a></th>
			</tr>
			
		</thead>
	</table>

</body>
</html>
